## .shellcheckrc - ShellCheck configuration for this repository
##
## Purpose:
## Configure ShellCheck behavior used by pre-commit and CI in this repo.
##
## Useful docs:
## - .shellcheckrc file reference: https://github.com/koalaman/shellcheck/wiki/Directive#shellcheckrc-file

# Look for 'source'd files relative to the checked script
source-path=SCRIPTDIR

# Allow opening any 'source'd file, even if not specified as input
external-sources=true
